#report_list
{
    padding:18px 0 0 5px;
    text-align: left;
}
#report_list .head
{
    background-color: #dff0d8;
    height: 50px;
}
#report_list .head div
{
    padding-top:15px
}

#report_list .content
{
    padding: 0px 0px;
    text-align: center;
}

#report_list .content select
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
}
/*#report_list .report{*/
    /*padding: 8px 15px;*/
    /*margin-bottom: 20px;*/
    /*list-style: none;*/
    /*background-color: #f5f5f5;*/
    /*border-radius: 4px;*/

/*}*/

.pageturn {
    clear: both;
    height: 30px;
    margin: 50px auto;
    display: table;
    text-align: center;
}
.pageturn .pagelist {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}
.pageturn li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    float: left;
    text-align: center;
}
.pageturn li:first-child {
    margin-left: 0;
}
.pageturn li:hover a, .pageturn .active a {
    background: #717171;
    color: #fff;
    border-color: #eaeaea;
}
.pageturn a {
    border: 1px solid #eaeaea;
    display: block;
    height: 28px;
    color: #6c6c6c;
}
.pageturn .long {
    width: 100px;
}
.pageturn .none a {
    border: 0;
}
